# MongoDB Connection String (Atlas or local)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=ff_sharing

# Admin Passkey for Moderation Dashboard
ADMIN_PASSWORD=adminpassword

# Server Port (optional, defaults to 3000)
PORT=3000
